<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

     <bean id="securityManager"  class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">   
     	<property name="realm" ref="UserRealm"/>   
	 </bean>
	 
	<!-- 生成一个 -->
	<bean id="UserRealm" class="com.maven01.web.shiro.UserRealm"/>   
	
    <!-- Shiro Filter -->   
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
    	 <!-- 调用我们配置的权限管理器 --> 
         <property name= "securityManager"   ref = "securityManager"   />   
         <property name= "loginUrl"   		 value = "/login"   />	  <!-- 配置我们的登录请求地址 --> 
         <property name= "successUrl"   	 value = "/test"   />  	  <!-- 配置我们在登录页登录成功后的跳转地址，如果你访问的是非/login地址，则跳到您访问的地址 -->  
         <property name= "unauthorizedUrl"   value = "/login"   />	  <!-- 如果您请求的资源不再您的权限范围，则跳转到/403请求地址 -->  
         <property name= "filterChainDefinitions" >	  <!-- 权限配置 -->    
            <value>
            	/resources/** = anon   
            	/static/**=anon
                /login  =  anon   
                /test  =  anon   
                /user/** = authc 
                /role/edit/* = perms[role:edit]  
                /role/save  =  perms [role:edit]  
                /role/list  =  perms [role:view]  
                /** = authc  
            </value>   
         </property>   
    </bean>
    
	 <!-- 缓存？？什么时候清理缓冲 -->
	 <bean id="cacheManager"  class = "org.apache.shiro.cache.ehcache.EhCacheManager"/>
	 
	 <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	 
          
</beans>





