<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven01.web.dao.ArticleBlockDao" >

	<resultMap id="articleBlock" type="com.maven01.web.bean.ArticleBlock" >
	    <id 	column="block_id" property="blockId" jdbcType="INTEGER" />
	    <result column="article_id" property="articleId" jdbcType="INTEGER" />
	    <result column="block_type" property="blockType" jdbcType="INTEGER" />
	    <result column="date" property="date" jdbcType="TIMESTAMP" />
	    <result column="block_content" property="blockContent" jdbcType="LONGVARCHAR" />
	</resultMap>
	  
	<sql id="Base_Column_List" >
	    block_id, article_id, block_type,block_content,date
	</sql>
	  
	<select id="getList" resultMap="articleBlock">
	 	select 
		<include refid="Base_Column_List" />
		from article_block 
	</select>
  
    
	<select id="getListByEntity" resultMap="articleBlock" parameterType="com.maven01.web.bean.ArticleBlock">
		select 
		<include refid="Base_Column_List" />
			from article_block 
		<where>
	 		1=1 
	 	<if test=" blockId != 0 ">
	 			and block_id = #{blockId}
	 	</if>
	
	 	<if test=" blockType != 0 ">
	 		and block_type = #{blockType}
	 	</if>	
		</where>
	</select>
	
	
	<!-- List<ArticleBlock> selectBlockByList(List blockList)  -->
	<select id = "selectBlockByList" resultMap="articleBlock" parameterType="java.util.List">
	   select * 
	   from article_block 
	   where block_id in 
	   <foreach item="item" index="index" collection="list"
	             open="(" separator="," close=")">
	        #{item}
	   </foreach>
	   order by field(block_id,
	   <foreach item="item" index="index" collection="list"
	              separator="," close=")">
	        #{item}
	   </foreach>
	</select>
	
  
  	<insert id="insert" parameterType="com.maven01.web.bean.ArticleBlock" >
    	insert into article_block ( article_id, block_type ,block_content , date)
    	values 
    	(	
    		 #{articleId,jdbcType=INTEGER}, 
    		 #{blockType,jdbcType=INTEGER},
    		 #{blockContent,jdbcType=LONGVARCHAR}, 
    		 #{date,jdbcType=TIMESTAMP}
    	)
  	</insert>
  	
  		
	<insert id="insertAll" parameterType="java.util.List">
	    insert into article_block ( article_id, block_type ,block_content , date)
      	values 
	    <foreach collection="list" item="item" index="index" separator="," >
	        (
	    		 #{articleId,jdbcType=INTEGER}, 
	    		 #{blockType,jdbcType=INTEGER},
	    		 #{blockContent,jdbcType=LONGVARCHAR}, 
	    		 #{date,jdbcType=TIMESTAMP}
	        )
	    </foreach>
	</insert>
	
	
	<insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="blockId" 
			parameterType="com.maven01.web.bean.ArticleBlock">
		insert into article_block ( article_id, block_type ,block_content , date)
    	values 
    	(	
   		 	 #{articleId,jdbcType=INTEGER}, 
    		 #{blockType,jdbcType=INTEGER},
    		 #{blockContent,jdbcType=LONGVARCHAR}, 
    		 #{date,jdbcType=TIMESTAMP}
    	)
	</insert>

  
 	<update id="update" parameterType="com.maven01.web.bean.ArticleBlock">
		update article_block
		<set>
			<if test="articleId != -1 ">
				article_id =#{articleId},
			</if>
			<if test="blockContent != '' and blockContent != null ">
				block_content =#{blockContent},
			</if>
			<if test="blockType != 0 ">
				block_type=#{blockType}
			</if>
		</set>
		where block_id = #{blockId}
	</update>
	
	  
	<delete id="deleteById" parameterType="INTEGER"> 
	  	delete from article_block where block_id = #{blockId}
	</delete>

	
	<delete id="deleteByEntity" parameterType="com.maven01.web.bean.ArticleBlock">
	  	delete from article_block where block_id = #{blockId}
	</delete>
  	
  	
</mapper>




