<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven01.web.dao.ArticleDao" >

	<resultMap id="articleResult" type="com.maven01.web.bean.Article" >
	    <id column="article_id" property="articleId" jdbcType="INTEGER" />
	    <result column="article_name" property="articleName" jdbcType="VARCHAR" />
	    <result column="article_list" property="articleList" jdbcType="LONGVARCHAR" />
	</resultMap>
		  
	  
	<sql id="Base_Column_List" >
	    article_id, article_name, article_list
	</sql>
		  
		  
	<select id="getList" resultMap="articleResult">
  		select 
		 <include refid="Base_Column_List" />
		from article
	</select>
	  
  
 	<select id="getListByEntity" resultMap="articleResult" parameterType="com.maven01.web.bean.Article">
  		select 
  		<include refid="Base_Column_List" />
  			from article 
  		<where>
	  		1=1 
	  		<if test=" articleId != 0 ">
	  			and article_id = #{articleId}
	  		</if>
	  		
	  		<if test=" articleName != '' and articleName != null ">
	  			and article_name = #{articleName}
	  		</if>	
  		</where>
  	</select>
  
  
  	<insert id="save" parameterType="com.maven01.web.bean.Article" >
    	insert into article ( article_name, article_list)
    	values 
    	(	
    		 #{articleName,jdbcType=VARCHAR}, 
    		 #{articleList,jdbcType=LONGVARCHAR})
  	</insert>
  	
  		
	<insert id="saveAll" parameterType="java.util.List">
	   insert into article(article_id, article_name, article_list) 
      	values 
	    <foreach collection="list" item="item" index="index" separator="," >
	        (
	            #{item.articleId},
	            #{item.articleName},
	            #{item.articleList}
	        )
	    </foreach>
	</insert>
	
	
	<!--  插入并返回id	-->
	<insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="articleId" parameterType="com.maven01.web.bean.Article">
		insert into article ( article_name, article_list)
    	values 
    	(	
    		 #{articleName,jdbcType=VARCHAR}, 
    		 #{articleList,jdbcType=LONGVARCHAR})
	</insert>
  
  
 	<update id="update" parameterType="com.maven01.web.bean.Article">
		update article
		<set>
			<if test="articleName != '' and articleName != null ">
				article_name =#{articleName},
			</if>
			<if test="articleList !=null and articleList!='' ">
				article_list=#{articleList}
			</if>
		</set>
		where article_id = #{articleId}
	</update>
	
	  
	<delete id="deleteById" parameterType="INTEGER">
	  	delete from article where article_id = #{articleId}
	</delete>

	
	<delete id="deleteByEntity" parameterType="com.maven01.web.bean.Article">
	  	delete from article where article_id = #{articleId}
	</delete>
  	
</mapper>




