<#assign base=request.contextPath/>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>

<link rel="stylesheet" type="text/css" href="${base}/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="${base}/css/index.css" />
<link rel="stylesheet" type="text/css" href="${base}/css/form.css" />
<link rel="stylesheet" type="text/css" href="${base}/easyui/themes/icon.css" />
<script type="text/javascript" src="${base}/js/jquery.min.js"></script>
<script type="text/javascript" src="${base}/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${base}/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${base}/easyui/jquery.xframe.js"></script>
</head>

<body class="easyui-layout">

	<!-- begin of header -->
	<div class="vrs-header" data-options="region:'north',border:false,split:true">
    	<div class="vrs-header-left">
        	<h1>GoChinaTV Business Manager</h1>
        </div>
        <div class="vrs-header-right">
        	<p><strong class="easyui-tooltip"></strong><a href="javascript:void(0);" onclick="updatePwd();">${(loginUser.userName)!""}</a>，欢迎您！</p>
            <p><a href="/admin/logout">安全退出</a></p>
        </div>
    </div>
    <!-- end of header -->
    
    <!-- begin of sidebar -->
	<div class="vrs-sidebar" data-options="region:'west',split:true,border:true,title:'导航菜单'"> 
    	<div class="easyui-accordion" data-options="border:false,fit:true">
    	    <#list resources as res>
    	       <div title="${res.text}" data-options="iconCls:'${res.menuCls}'" style="padding:5px;">
    	          <ul class="easyui-tree vrs-side-tree">
    	            <#list res.children as child>
    	             <li iconCls="${child.menuCls}"><a href="javascript:void(0)" data-icon="${child.menuCls}" data-link="${base}${child.url}" iframe="1">${child.text}</a></li>
    	            </#list>
    	          </ul>
    	       </div>
			</#list>
        </div>
    </div>	
    <!-- end of sidebar -->   
     
    <!-- begin of main -->
    <div class="vrs-main" data-options="region:'center'">
        <div id="vrs-tabs" class="easyui-tabs" data-options="border:false,fit:true">  
            <!--  <div title="用户列表" data-options="closable:false" style="overflow:hidden">
               <iframe marginheight="0" marginwidth="0" frameborder="0" src="${base}/user/to_list" height="100%" width="100%"></iframe>
            </div>-->
        </div>
    </div>
    <!-- end of main --> 
    
    <!-- begin of footer -->
	<div class="vrs-footer" data-options="region:'south',border:true,split:true">
    	&copy; @CopyRight Commicoder 
    </div>
    <!-- end of footer -->

	<div id="contextmenu" class="easyui-menu">
		<div data-options="iconCls:'icon-contextmenu-closeself'" id="closeself">关闭</div>
		<div data-options="iconCls:'icon-contextmenu-closeother'" id="closeother">关闭其他</div>
		<div data-options="iconCls:'icon-contextmenu-closeall'" id="closeall">关闭全部</div>
	</div>
	
</body>
</html>
