<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<#include "../frame/pageInclude.html">
<script type="text/javascript">
	$(document).ready(function() {
		grid = $('#tab').datagrid( {
			//title : '用户列表',			
			url :'${base}/admin/user/queryList',
			queryParams:$("#queryForm").serializeObject(),
			pagination : true,
			rownumbers : true,
			singleSelect : true,
			striped:true,
			fit:true,
			toolbar:'#toolbar',
			fitColumns:true,
			onDblClickRow:function(index,row){
				modifyRow(row);
			} 
		});
		
		$("#add-window, #modify-window").window({ 
	        width:400,
	        height:360
		});
		
	});
	
</script>
</head>
<body>

   <table class="easyui-datagrid" id="tab">
		<thead>
			<tr>
				<th data-options="field:'userName',width:80">用户名</th>
				<th data-options="field:'realName',width:100">真实姓名</th>
				<th data-options="field:'mobile',width:80">手机</th>
				<th data-options="field:'email',width:100">邮箱</th>
				<th data-options="field:'createTime',width:100,formatter:formatYYYYMMDD">创建日期</th>
				<th data-options="field:'status',width:60,formatter:formatStatus">是否启用</th>
				
			</tr>
		</thead>
	</table>
	
	<div id="toolbar" style="padding:2px 5px;">
		<form id="queryForm">
			用户名： <input type="text" class="easyui-validatebox textbox" name="userName" style="width:110px"></input>
			真实姓名： <input type="text" class="easyui-validatebox textbox" name="realName" style="width:110px"></input>
			<a href="javascript:void(0);" 	onclick="query();			"class="easyui-linkbutton" iconCls="icon-search"	>查询</a>
			<a href="javascript:void(0);" 	onclick="resetQueryForm();	"class="easyui-linkbutton" iconCls="icon-remove"	>清空</a>
		</form>
		<div style="margin:5px">
		  <a href="javascript:void(0);" 	onclick="add();" class="easyui-linkbutton" 			data-options="iconCls:'icon-add',toggle:true">新增</a>
			<a href="javascript:void(0);" 	onclick="modify();" class="easyui-linkbutton" 		data-options="iconCls:'icon-edit',toggle:true">编辑</a>
			<a href="javascript:void(0);" 	onclick="removeModule();" class="easyui-linkbutton" data-options="iconCls:'icon-remove',toggle:true">删除</a>
		</div>
	</div>
	
  	<#include "./add.html">
  	<#include "./update.html">
   	
</body>
</html>
